* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .box {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: lightblue;
}

.question {
    padding: 10px;
    background-color: lightseagreen;
   
}
.answer{
    display: none;
    padding: 10px;
    background-color: lightcoral;
}

.questAnswer{
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 19px;
    padding: 5px;
}
#innerDisp{
    display: none;
} */




th{
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

td{
  border: 1px solid black;
  width: 50px;
  height: 50px;
}