.inpBox{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
}

h2{
  text-align: center;
}

.allCol{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.colBox{
  width: 300px;
  height: 200px;
  background-color: red;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.minBox{
  height: 100%;
  width: 100%;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  text-align: center;
}
